body {
  padding: 0;
  margin: 0;

  font-family: "Moderustic", sans-serif;
}
h1 {
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}
.main-area {
  display: inherit;
  flex-direction: inherit;
  align-items: flex-start;

  width: 80%;
  height: 85%;
}
.max-character-area, .total-text-area {
  display: inherit;
  flex-direction: row;
  align-items: center;
  
  width: calc(100% - 15px);
  padding-left: 15px;

  border: solid #dddddd;
  background-color: #dddddd;
  border-width: 0px 3px 0px 3px;
}
.max-character-area {
  gap: 15px;
  border-radius: 20px 20px 0px 0px;
}
.total-text-area {
  height: 50px;

  border-radius: 0px 0px 20px 20px;
  justify-content: space-around;  
}
.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
.divider-left {
  border-left: 2px solid #a6acbd;
}
.divider-center {
  border-left: 2px solid #a6acbd;
  border-right: 2px solid #a6acbd;
}
#max-type {
  font-family: "Moderustic", sans-serif;
  
  width: 50px;
  padding: 3px 6px 3px 6px;

  outline: none;
  border: none;
  border-radius: 10px;
}
input[type='radio'] {
  accent-color: #2d3945;
}
textarea {
  font-family: "Moderustic", sans-serif;
  font-size: medium;

  width: calc(100% - 10px);
  height: 100%;
  padding: 5px;

  resize: none;
  border: solid #dddddd;
  background-color: #f1f1f1;
  border-width: 0px 3px 0px 3px;
  outline: none;
}
#total-text, #max-text, #remain-text, #total-word {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #2d3945;
  color: #dddddd;

  width: 100%;
  padding: 15px 0px 15px 0px;
  margin-top: 20px;
  .footer-container {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    .right-footer {
      display: inherit;
      flex-direction: column;
      align-items: end;
      a {
        text-decoration: none;
        color: inherit;
        i {
          font-size: 25px;
          padding: 2px;
        }
      }
    }
  }
}